[Desktop Entry]
Type=Application
Name=qpwgraph-rs
GenericName=PipeWire Graph Patchbay
Comment=Visual PipeWire and ALSA MIDI connection manager
Exec=qpwgraph-rs %U
Icon=io.github.nglmercer.qpwgraph-rs
Terminal=false
Categories=AudioVideo;
Keywords=PipeWire;JACK;ALSA;MIDI;patchbay;
StartupNotify=true
